// Flex display for nav

%nav-flex {
  display: flex;
  flex-direction: column;
}

%footer-nav-hide {
    @include footer-none {
      display: none;
  }
}

%footer-nav-display {
  
}

%centered {
  text-align: center;
}
