/* =============== FOOTER STYLES ==============*/

.main-footer {
  border-top: 1px solid $border;

    h1 {
      float: left;
      margin-top: 5px;
      font-size: $inherit;
      font-weight: $heavy;
    }

    h3 {
      float: right;
      color: $text-color;
      margin-top: 5px;
      font-size: $top-link;
      font-weight: $heavy;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
    }
}


.main-footer a:visited {
  color: $text-color;
}


.footer-details {
  margin: 10px;

  @include tablet {
    display: none;
  }
}

.footer-large {
  @extend %footer-nav-hide;
  @include tablet {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }
}

.footer-name {
  @include tablet {
    align-self: center;
    margin-right: auto;
    padding-left: 30px;
  }

  a {
    @include tablet {
      color: $text-color;
      font-size: 1.25em;
      font-weight: $light;
      text-decoration: none;
    }
  }
}


.footer-nav {
  @extend %footer-nav-hide;
  @include tablet {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    list-style: none;
    padding-right: 0;
    align-self: center;
  }

  a {
    @include tablet {
      display: block;
      margin: 4px;
      padding: .85em;
      color: $text-color;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.25em;
      font-weight: $light;
    }
  }
}
