/* ================ NAV STYLES =============== */

.main-header {
  @extend %nav-flex;
  padding-top: .3em;
  position: relative;

  @media #{$brk-tablet} {
    height: 200px;
    justify-content: flex-end;
  }

  @media #{$brk-desk} {
    flex-direction: row;
  }
}

.name {
  align-self: center;

  @media #{$brk-tablet} {
    margin-top: 2px;
  }

  @media #{$brk-desk} {
    margin-right: auto;
    padding-left: 30px;
  }

  a {
    color: $text-color;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
  }
}



.nav {
  @extend %nav-flex;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;

  a {
    display: block;
    margin: 4px;
    padding: .85em;
    color: $text-color;
    background-color: $portfolio-bkgd-color;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 600;

    li {
      @media #{$brk-desk} {
        margin-left: .65em;
        margin-right: .65em;
      }
    }

    @media #{$brk-tablet} {
      background-color: $bkgd-color;
      padding: 10px 15px;
    }
  }

  @media #{$brk-tablet} {
    margin-top: 2em;
    flex-direction: row;
    justify-content: center;
  }

  @media #{$brk-desk} {
    margin-top: 0;
    align-self: center;
  }
}
