/* =============== PORTFOLIO STYLES ==============*/

.portfolio {
  background-color: $portfolio-bkgd-color;
  display: flex;
  flex-wrap: wrap;

  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }

  p {
    padding-bottom: 2em;
    font-weight: 300;

    @include tablet {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  div {
    @include tablet {
      display: inline-block;
      width: 50%;
    }

    @include desktop {
      width: 33%;
    }
  }

  @include tablet {
    margin-top: 0px;
  }

  @include desktop {
    width: 100%;
  }
}

.portfolio-title {
  font-size: 1em;
  font-weight: 700;
  background-color: $portfolio-bkgd-color;
  margin-top: 60px;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  width: 90%;
}
