
/* ============= ELEMENT STYLES ============== */

body {
  background-color: $bkgd-color;
  color: $text-color;
  text-align: center;
  font-family: 'Source Sans Pro', $sans;
}

header {
  background-color: $bkgd-color;
}
