
/* ============= ELEMENT STYLES ============== */

body {
  background-color: $bkgd-color;
  color: $text-color;
  text-align: center;
  font-family: $body-font, $sans;
}

header {
  background-color: $bkgd-color;
}
