
// Color Variables

$text-color  : #444;
$bkgd-color  : #e0e0e0;
$portfolio-bkgd-color : #f9f9f9;




// Media Query breakpoints

$brk-tablet : '(min-width: 768px)';
$brk-desk   : '(min-width: 1024px)';

// Fonts

$sans   : sans-serif;
